*{
    border-radius: 8px;
    font-family:  cursive, sans-serif;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    
}

div.container{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    
    padding: 48px;
    visibility: hidden;
    margin: 24px;

}

h1{
    padding: 24px;
    background-color: rgba(31, 29, 26, 0.568);
    color: rgba(253, 251, 245, 0.685);
    border-radius: 8px;
    margin: 24px
}

div.row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
}

div.collumn{
    display: flex;
    flex-direction: column;
}

div.grid{
    width: 10px;
    height: 10px;
    background: rgba(20, 99, 44, 0.685);
    padding: 8px;
    margin-bottom: 8px;
}

div.user{
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    margin: 16px;
    font-size: large;
    font-weight: 900;
    background-color: bisque;
}

input{
    width: 70px;
    height: 40px;
    text-align: center;
    font-size: medium;
}

div.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    font-weight: 900;
}

button{
    margin: 3px;
    width: 100px;
    height: 40px;
    font-size: large;
    background-color:rgb(99, 63, 16);
    border: none;
    color: white;
    font-size: large;
    font-weight: 900;
}